# Ignore Python bytecode
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Ignore virtual environments
env/
venv/
.venv/

# Ignore large/local media and models
media/
*.MOV
*.mp4
*.h5  # Important: exclude any model from being copied into Docker

# Ignore system and editor files
.DS_Store
*.swp
*.swo
Thumbs.db
desktop.ini

# Ignore version control and IDE configs
.git/
.vscode/
.idea/
*.code-workspace
